body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial,sans-serif;
    background-image: url("/public/img/bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /*color: white;*/
}
.App {
    height: 90vh;
    width: 90vw;
    background-color: rgba(27, 17, 48, 0.46);
    border-radius: 12px;
    backdrop-filter: blur(0px) saturate(180%);
    border: 5px solid rgba(255, 255, 255, 0.13);
    display: flex;
}
.welcome-message {
    flex: 2;
    border-left: 1px solid #655d72;
    border-right: 1px solid #655d72;
    min-height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 24px;
    text-align: center;
    background-color: #2E8B57;
    border-radius: 80px;
}




