.userInfo{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.userInfo .user{
    display: flex;
    align-items: center;
    gap: 20px;
}
.userInfo .user img{
    background-color: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}
.userInfo .icons{
    display: flex;
    gap: 20px;
}
.userInfo .icons img{
    width: 20px;
    height: 20px;
    cursor: pointer;
}
/* userInfo.css */

.logoutButton {
    background-color: #ece1e1; /* Màu nền */
    color: #f56c6c; /* Màu chữ */
    border: none; /* Không có viền */
    padding: 10px 20px; /* Kích thước nút */
    text-align: center; /* Căn giữa nội dung */
    text-decoration: none; /* Bỏ gạch chân cho text */
    display: inline-block;
    font-size: 16px; /* Kích cỡ chữ */
    cursor: pointer; /* Con trỏ chuột khi rê vào */
    border-radius: 5px; /* Bo tròn góc */
    transition: background-color 0.3s ease; /* Hiệu ứng chuyển đổi màu nền */
    border: 1px solid #f56c6c;
}

.logoutButton:hover {
    background-color: #f56c6c; /* Màu nền khi di chuột vào */
    color: white;
}
